<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- FonteAwesome -->
    <script src="https://kit.fontawesome.com/f8955431f5.js" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Lien Map HERE -->
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <!-- Mon CSS -->
    <link rel="stylesheet" href="../css/style.css">
    <title><%= pageTitle %></title>
  </head>
  <body>

    <nav id="navbarPrincipal" class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link <%= path === '/' ? 'active' : '' %>" href="/">Home</a>
      <a class="nav-item nav-link <%= path === '/destination' ? 'active' : '' %>" href="/destination">Destination</a>
      <a class="nav-item nav-link <%= path === '/add-marker' ? 'active' : '' %>" href="/add-marker">add</a>
      <a class="nav-item nav-link <%= path === '/about' ? 'active' : '' %>" href="/about">A Propos</a>
      <a class="nav-item nav-link <%= path === '/contact' ? 'active' : '' %>" href="/contact">Contact</a>

    </div>
  </div>
</nav>
